In [1]:
################################################################
# For documentation on the Zip_time_series.csv file, refer to  #
# https://www.kaggle.com/zillow/zecon#Zip_time_series.csv      #
# The file may also be downloaded from here                    #
################################################################

# Dependencies
import pandas as pd
import numpy as np
from usefuls import atx_zip_codes

In [9]:
# Import file as dataframe and preview
# .csv file needs to be in same directory as this file.
df = pd.read_csv('Zip_time_series.csv')
df.head()

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68700.0,67000.0,101900.0,107000.0,124800.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97000.0,81300.0,135200.0,145800.0,213600.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85400.0,NaN,101200.0,101200.0,125700.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,1007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97900.0,87600.0,124000.0,125000.0,162100.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,1008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81100.0,NaN,109300.0,109300.0,148100.0,NaN,NaN,NaN,NaN,NaN

In [10]:
# Rename RegionName to zipcode because that's what it is
df = df.rename(columns={'RegionName': 'Zip Code'})

In [11]:
# Filter out all non-Austin area zipcodes
df = df[[(x in atx_zip_codes) for x in df['Zip Code']]]

In [13]:
# Add year column to dataframe
df['year'] = df['Date'].apply(lambda s : int(s[:4]))

In [14]:
# Filter out all years before 2009
df = df[df['year'] >= 2009]

In [ ]:
# Now, take out everything except year, zipcode, and Zillow Home Value Index for all homes 
mask = ['year', 'Zip Code', 'ZHVI_AllHomes']
df = df[mask]

In [26]:
df = df.dropna()

In [27]:
# Group data by year, zipcode, find the mean ZHVI per year per zipcode
df = round(df.groupby(['year', 'Zip Code']).ZHVI_AllHomes.mean(),2).to_frame()

In [28]:
# Preview
df.head()

               ZHVI_AllHomes
year Zip Code
2009 78610         180533.33
     78613         190950.00
     78617         116075.00
     78641         153816.67
     78664         138175.00

In [29]:
# Save to csv
df.to_csv('atx_mean_zhvi_2009-2017.csv')